@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 20, 14.3%, 4.1%;
    --color-foreground: 0, 0%, 95%;
    --color-primary: 142.1, 70.6%, 45.3%;
    --color-primary-foreground: 144.9, 80.4%, 10%;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  background-color: hsl(var(--color-background));
  color: hsl(var(--color-foreground));
}

* {
  scrollbar-width: auto;
  scrollbar-color: hsl(var(--color-foreground)) #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: hsla(var(--color-foreground), 0.1);
  border-radius: 10px;
  border: 2px solid #80ed9900;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
